absl-py==1.0
bitsandbytes==0.40.2
cohere
datasets
decorator<5.0,>=4.0.2
fastapi
jedi
kaleido
numpy
openai
opacus
peft==0.4.0
python-multipart
tensorflow
tensorflow-privacy
tensorflow-probability==0.22.0
tiktoken
torch
torchaudio
torchvision
transformers
typing-extensions<4.6.0
uvicorn
accelerate==0.21.0
chardet
trl
google-cloud-secret-manager
cryptography
